name: ubuntu-basic

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-unit-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container: docker.io/library/ubuntu:latest

    steps:
    - uses: actions/checkout@v2

    - name: Install bazel
      run:  |
            apt-get update
            apt-get install -yq wget gcc g++ python3.8 zlib1g-dev zip libuv1.dev

            apt-get install -yq pip
            wget "https://github.com/bazelbuild/bazel/releases/download/5.1.0/bazel_5.1.0-linux-x86_64.deb" -O bazel_5.1.0-linux-x86_64.deb
            dpkg -i bazel_5.1.0-linux-x86_64.deb

    - name: Install dependencies
      run:  |
            python3 -m pip install virtualenv
            python3 -m virtualenv -p python3.8 py3
            . py3/bin/activate
            which python
            pip install pytest torch
            pip install ray==1.13.0

    - name: Build and test
      run: |
           . py3/bin/activate
           python3 setup.py install
           cd tests && python3 -m pytest *
